* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.sidebar {
    padding-left: 30px;
    padding-top: 20px;
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
    background-color: rgb(49, 104, 12);
}

.sidebar > .menu > ul {
    list-style: none;
    line-height: 50px;
}

.sidebar > .settings > ul {
    list-style: none;
    line-height: 50px;
    margin-bottom: 150px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: 1 / 2 / 2 / 2;
}

.search {
}

.searchbar {
    border-radius: 10px;
    width: 500px;
    height: 25px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left;
}

.userinfo {
}

.username {
    grid-area: 2;
}

.buttons {
    align-self: flex-end;
    padding: 15px;
}

#alien1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#alien2 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.content {
    border: 1px solid green;
    display: grid;
    grid-area: 2 / 2 / 6 / 3;
    background-color: rgb(230, 227, 227);
}

.projects {
    font-weight: bold;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 30px;
}

.cards > div {
    border: 1px solid black;
    width: 300px;
    height: 140px;
    border-radius: 10px;
    box-shadow: -5px 0px rgb(189, 142, 12);
    padding: 10px;
}

.cards2 {
    grid-area: 1 / 2 / 4 / 3;
    margin-top: 50px;
}

.announcement-text {
    font-size: 14px;
    border-bottom-width: 1px;
    border-bottom-style :solid;
    border-bottom-color: rgb(139, 136, 136);
    padding-bottom: 8px;
}

.announcements {
    grid-area: 1 / 2/ 4 / 3;
    padding: 20px;
    font-weight: bold;
}

.announcement-card, .trending-card {
    display: grid;
    justify-content: center;
    border: 1px solid black;
    width: 250px;
    height: 260px;
    border-radius: 10px;
    padding-top: 25px;
}

.announcement-card {
   padding-left: 20px;
}

.trending {
    font-weight: bold;
    padding: 10px;
}

