* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.sidebar {
    border: 1px solid red;
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
}

.logo  {
    border: 1px solid black;
}

.menu {
    border: 1px solid black;
}

.settings {
    border: 1px solid black;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: 1 / 2 / 2 / 2;
}

.search {
}

.searchbar {
    border-radius: 10px;
    width: 500px;
    height: 25px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left;
}

.userinfo {
    border: 1px solid black;
}

.username {
    grid-area: 2;
}

.buttons {
    border: 1px solid black;
}

#alien1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#alien2 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.content {
    border: 1px solid green;
    display: grid;
    grid-area: 2 / 2 / 6 / 3;
}

.projects {
    border: 1px solid black;
}

.cards {
    border: 1px solid black;
}

.announcements {
    border: 1px solid black;
}

.announcement-card {
    border: 1px solid black;
}

.trending {
    border: 1px solid black;
}

.tending-card {
    border: 1px solid black;
}